{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <h2>Liste des articles</h2>
            {% for article in articles %}

              <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"> #{{ article.id }} {{ article.title }} par {{ article.name }} </h3>
              </div>
              <div class="panel-body">
                  <p>{{ article.content }}</p>
              </div>

              <div class="panel-footer">
                <h4>3 derniers commentaires :</h4>
                {% for comment in article.comments %}
                <div class="row">
                  <div class="col-sm-12">
                    <span class="label label-success col-sm-1">{{ comment.name }} </span>
                    <p class="col-sm-10"> :  {{ comment.comment }} </p>
                </div>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
